.hero__img {
  position: relative;
}

.hero__img::before{
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 300px;
  background-image: linear-gradient(
    to bottom, 

  rgb(225, 225, 225, 0),
   rgb(255, 255, 255)
  
  );
}