.product_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  max-width: 1450px;
  margin: 100px auto;
  gap: 30px;
  justify-content: center;
  padding: 20px;
}
.product_container section {
  margin: 0 auto;
}